/* === Style global de l'application === */

/* === Style global de la fenêtre === */

#texteBlanc {
    -fx-text-fill: white;
}

.root {
    -fx-background-color: #3D1993;
}

#bordereau {
    -fx-background-color: #A7A7A7;
}

/* === Style des titres principaux === */
#titre200 {
    -fx-text-fill: white;
    -fx-font-size: 200px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, black, 5, 0.0, 2, 2);
}

#titre150 {
    -fx-text-fill: white;
    -fx-font-size: 150px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, black, 5, 0.0, 2, 2);
}

#titre100 {
    -fx-text-fill: white;
    -fx-font-size: 100px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, black, 5, 0.0, 2, 2);
}

/* === Style des labels des joueurs === */
#joueur1 {
    -fx-text-fill: white;
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

#joueur2 {
    -fx-text-fill: white;
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

/* === Style du bouton options === */
#buttonOrange {
    -fx-background-color:#FF7700;
    -fx-text-fill: white;
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

#buttonRouge {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

#buttonVert {
    -fx-background-color: #00FF15;
    -fx-text-fill: white;
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

#buttonCouleur1 {
    -fx-text-fill: white;
}

#buttonCouleur2 {
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #CACACA;
}

/* === Style des cercles du plateau === */
.circle {
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1.5px;
}

/* === Style des barres de progression (minuteur) === */
#progress-bar1 {
    -fx-control-inner-background: transparent;
}

#progress-bar2 {
    -fx-control-inner-background: transparent;
}

/* === Style du tableau de jeu === */
#GridPane {
    -fx-background-color: #020FFE;
    -fx-background-radius: 10;
}